# Large downloads and run outputs (not version-controlled)
geog/
met/
*.nc
*.grib
met_em.d0*
GRIBFILE.*
FILE:*
geo_em.d0*
wrfout_*
wrfinput_*
wrfbdy_*
rsl.*
proof/
proof1km/
build_arm64/
_fetch_era5.py
